/*
* Import of Font Families
*
*/
@font-face {
    font-family: 'f1';
    src: url('../fonts/wish/1.ttf');
    font-weight: normal;
    font-style: normal;
}
.f1{
    font-family: f1;
}

@font-face {
    font-family: 'f2';
    src: url('../fonts/wish/2.ttf');
    font-weight: normal;
    font-style: normal;
}
.f2{
    font-family: f2;
}

@font-face {
    font-family: 'f3';
    src: url('../fonts/wish/3.ttf');
    font-weight: normal;
    font-style: normal;
}
.f3{
    font-family: f3;
}

@font-face {
    font-family: 'f4';
    src: url('../fonts/wish/4.ttf');
    font-weight: normal;
    font-style: normal;
}
.f4{
    font-family: f4;
}


@font-face {
    font-family: 'f5';
    src: url('../fonts/wish/5.ttf');
    font-weight: normal;
    font-style: normal;
}
.f5{
    font-family: f5;
}


@font-face {
    font-family: 'f6';
    src: url('../fonts/wish/6.ttf');
    font-weight: normal;
    font-style: normal;
}
.f6{
    font-family: f6;
}


@font-face {
    font-family: 'f7';
    src: url('../fonts/wish/7.ttf');
    font-weight: normal;
    font-style: normal;
}
.f7{
    font-family: f7;
}


@font-face {
    font-family: 'f8';
    src: url('../fonts/wish/8.ttf');
    font-weight: normal;
    font-style: normal;
}
.f8{
    font-family: f8;
}


@font-face {
    font-family: 'f9';
    src: url('../fonts/wish/9.ttf');
    font-weight: normal;
    font-style: normal;
}
.f9{
    font-family: f9;
}


@font-face {
    font-family: 'f10';
    src: url('../fonts/wish/10.ttf');
    font-weight: normal;
    font-style: normal;
}
.f10{
    font-family: f10;
}


@font-face {
    font-family: 'f11';
    src: url('../fonts/wish/11.ttf');
    font-weight: normal;
    font-style: normal;
}
.f11{
    font-family: f11;
}


@font-face {
    font-family: 'f12';
    src: url('../fonts/wish/12.ttf');
    font-weight: normal;
    font-style: normal;
}
.f12{
    font-family: f12;
}


@font-face {
    font-family: 'f13';
    src: url('../fonts/wish/13.ttf');
    font-weight: normal;
    font-style: normal;
}
.f13{
    font-family: f13;
}


@font-face {
    font-family: 'f14';
    src: url('../fonts/wish/14.ttf');
    font-weight: normal;
    font-style: normal;
}
.f14{
    font-family: f14;
}


@font-face {
    font-family: 'f15';
    src: url('../fonts/wish/15.ttf');
    font-weight: normal;
    font-style: normal;
}
.f15{
    font-family: f15;
}


/*
*
*
*
*
*/
p#apercue{
    font-family: "bedel";
}

select#font-preview option{
    font-size: 30px;
}
/**
* font-previews des selecteurs
*/
select#font-preview option[value="f1"] {
    font-family: 'f1';
}
select#font-preview option[value="f2"] {
    font-family: 'f2';
}
select#font-preview option[value='f3'] {
    font-family: 'f3';
}
select#font-preview option[value='f4'] {
    font-family: 'f4';
}
select#font-preview option[value='f5'] {
    font-family: 'f5';
}
select#font-preview option[value='f6'] {
    font-family: 'f6';
}
select#font-preview option[value='f7'] {
    font-family: 'f7';
}
select#font-preview option[value="f8"] {
    font-family: 'f8';
}
select#font-preview option[value="f9"] {
    font-family: 'f9';
}
select#font-preview option[value="f10"] {
    font-family: 'f10';
}
select#font-preview option[value="f11"] {
    font-family: 'f11';
}
select#font-preview option[value="f12"] {
    font-family: 'f12';
}
select#font-preview option[value="f13"] {
    font-family: 'f13';
}
select#font-preview option[value="f14"] {
    font-family: 'f14';
}
select#font-preview option[value="f15"] {
    font-family: 'f15';
}