/*
* Import of Font Families
*
*/
@font-face {
    font-family: 'loic';
    src: url('../fonts/wish/1.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roman';
    src: url('../fonts/wish/2.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kadon';
    src: url('../fonts/wish/3.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hevia';
    src: url('../fonts/wish/4.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wiltek';
    src: url('../fonts/wish/5.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alladin';
    src: url('../fonts/wish/6.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naomi';
    src: url('../fonts/wish/7.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'saphir';
    src: url('../fonts/wish/8.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'steve';
    src: url('../fonts/wish/9.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'serge';
    src: url('../fonts/wish/10.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bedel';
    src: url('../fonts/wish/11.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eric';
    src: url('../fonts/wish/12.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'marie';
    src: url('../fonts/wish/13.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dominique';
    src: url('../fonts/wish/14.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bento';
    src: url('../fonts/wish/15.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'loic';
    src: url('../fonts/wish/16.ttf');
    font-weight: normal;
    font-style: normal;
}
/*
*
*
*
*
*/
p#apercue{
    font-family: "bedel";
}

select#police option{
    font-size: 30px;
}
/**
* Polices des selecteurs
*/
select#police option[value="loic"] {
    font-family: 'loic';
}
select#police option[value="roman"] {
    font-family: 'roman';
}
select#police option[value='hevia'] {
    font-family: 'hevia';
}
select#police option[value='wiltek'] {
    font-family: 'wiltek';
}
select#police option[value='naomi'] {
    font-family: 'naomi';
}
select#police option[value='kadon'] {
    font-family: 'kadon';
}
select#police option[value='saphir'] {
    font-family: 'saphir';
}
select#police option[value="alladin"] {
    font-family: 'alladin';
}
select#police option[value="steve"] {
    font-family: 'steve';
}
select#police option[value="serge"] {
    font-family: 'serge';
}
select#police option[value="bedel"] {
    font-family: 'bedel';
}
select#police option[value="marie"] {
    font-family: 'marie';
}
select#police option[value="eric"] {
    font-family: 'eric';
}
select#police option[value="dominique"] {
    font-family: 'dominique';
}
select#police option[value="bento"] {
    font-family: 'bento';
}