.pere_noel{
    position: fixed;
    top:0;
    left:0;
    z-index: 14;
    width: 5px;
}
.dev-signature{
    color: white;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px 5px;
}
body {
    overflow-x: hidden;
    background-image: url("../images/bg3.jpg") 
}

.slider {
    height: 100vh !important;
}

.btn.rounded {
    border-radius: 24px;
}

ul.indicators {
    z-index: 9999;
}

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon>.label {
    display: none;
}

.icon.circled,
[class^="socicon-"].circled,
[class*="socicon-"].circled {
    position: relative;
    display: inline-block;
    background: #2b252c;
    color: #fff;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    line-height: 3.25em;
    text-align: center;
    font-size: 1.25em;
}

header .icon.circled {
    margin: 0 0 2em 0;
}

#footer {
    position: relative;
    background: #2b252c;
    color: #fff;
}

#footer .circled {
    background: #fff;
    color: #2b252c;
}

#footer header {
    text-align: center;
    cursor: default;
}

#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    color: #fff;
}

#footer .contact {
    text-align: center;
}

#footer .contact p {
    text-align: center;
    margin: 0 0 3em 0;
}

#footer .copyright {
    text-align: center;
    color: rgba(128, 128, 128, 0.75);
    font-size: 0.8em;
    cursor: default;
}

#footer .copyright a {
    color: rgba(128, 128, 128, 0.75);
}

#footer .copyright a:hover {
    color: rgba(212, 212, 212, 0.85);
}

.carousel {
    position: relative;
    overflow: hidden;
    padding: 2em 0 2em 0;
    margin-bottom: 0;
}

.carousel .forward,
.carousel .backward {
    position: absolute;
    top: 25%;
    width: 6em;
    height: 12em;
    margin-top: -3.5em;
    cursor: pointer;
}

.carousel .forward:before,
.carousel .backward:before {
    content: '';
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    background-color: rgba(72, 57, 73, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -3em;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
    content: '';
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    margin: -1.5em 0 0 0;
    background: url("images/arrow.svg") no-repeat center center;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
    background-color: rgba(226, 139, 155, 0.75);
}

.carousel .forward {
    right: 0;
}

.carousel .forward:before {
    right: -3em;
}

.carousel .forward:after {
    right: -0.25em;
}

.carousel .backward {
    left: 0;
}

.carousel .backward:before {
    left: -3em;
}

.carousel .backward:after {
    left: -0.25em;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.carousel .reel {
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0 2em 0 2em;
}

.carousel article {
    display: inline-block;
    width: 18em;
    text-align: center;
    padding: 0;
    margin: 0 2em 0 0;
    white-space: normal;
    opacity: 1.0;
    -moz-transition: opacity 0.75s ease-in-out;
    -webkit-transition: opacity 0.75s ease-in-out;
    -ms-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out;
}

.carousel article.loading {
    opacity: 0;
}

.carousel article .image {
    position: relative;
    left: -1em;
    top: 0;
    width: auto;
    margin-bottom: 3em;
}

.carousel article p {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    /* Basic */
    body,
    input,
    textarea,
    select {
        font-size: 14pt;
    }
    /* Carousel */
    .carousel {
        padding: 1.5em 0 1.5em 0;
    }
    .carousel .reel {
        padding: 0 1.5em 0 1.5em;
    }
    .carousel article {
        width: 18em;
        margin: 0 1.25em 0 0;
    }
}

@media screen and (max-width: 840px) {
    /* Basic */
    body,
    input,
    textarea,
    select {
        font-size: 13pt;
        line-height: 1.65em;
    }
    .tweet {
        text-align: center;
    }
    .timestamp {
        display: block;
        text-align: center;
    }
    /* Carousel */
    .carousel .reel {
        padding: 0 0.5em 0 0.5em;
    }
    .carousel article {
        margin: 0 0.5em 0 0;
    }
    .carousel article .image {
        margin-bottom: 2em;
    }
    /* Slider */
    .slider h2 {
        font-size: 2em !important;
    }
    .slider h3 {
        font-size: 1.5em !important;
    }
}

@media screen and (max-width: 736px) {
    ul.icons {
        font-size: 1em;
        padding: 0.35em 0.5em 0.35em 0.5em;
    }
    ul.icons li a {
        width: 2.25em;
    }
    .step-block h2 span.step-counter {
        display: block !important;
        text-align: center;
        margin: 0 auto !important;
    }
    h2 {
        font-size: 2rem;
    }
}

ul.icons {
    position: relative;
    background: rgba(128, 128, 128, 0.05);
    border-radius: 4em;
    display: inline-block;
    padding: 0.35em 0.75em 0.35em 0.75em;
    font-size: 1.25em;
    cursor: default;
}

ul.icons li {
    display: inline-block;
}

ul.icons li a {
    display: inline-block;
    background: none;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 100%;
    border: 0;
    color: inherit;
}

ul.icons li a:hover {
    color: #ef8376;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.center {
    text-align: center;
}

.no-float {
    float: none !important;
}


/* Image */

.image {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
}

.image img {
    display: block;
    width: 100%;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 4em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

.card-model {
    cursor: pointer;
}

.step-block {
    min-height: 100vh;
    padding: 2em 0;
}

.step-block h2 {
    color: rgb(226, 139, 155);
}

.step-block h2 span.step-counter {
    color: #fff;
    border-radius: 50%;
    background-color: rgb(226, 139, 155);
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    display: inline-block;
    margin-right: .5em;
}

.btn {
    background-color: #e28b9b;
}

.btn:hover,
.btn:focus {
    color: #fff !important;
    background-color: #481341;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.card-preview-container {
    width: 100% !important;
    float: left;
    overflow: auto;
    font-size: 28px;
}

.card-preview-container #card-bg {
    position: relative;
    width: auto;
    height: 400px;
    padding: 24px;
    margin: 0;
    background-image: url("../images/bg/00.png");
    background-size: cover;
    overflow: hidden;
    font-size : 22px;
    font-family : 5;
}

.card-preview-container .card-preview-sq {
    width: 150px;
    height: 150px;
    margin-right: 24px;
    margin-bottom: 24px;
    float: left;
    background-size: cover;
    background-image: url("../images/sq/88.png");
}

.card-preview-container .card-preview-to,
.card-preview-container .card-preview-title,
.card-preview-container .card-preview-message {
    margin-bottom: 24px;
}

.card-preview-container .card-preview-title {
    padding-left: 24px;
}

#footer {
    margin-top: 4em;
}

#footer .footer-block {
    padding: 2em 0;
}

#footer h1 {
    color: #fff;
    font-size: 2em;
}

#footer .copyright-block {
    background-color: #1a141d;
    padding: .5em 0;
}

#footer .title-block {
    font-size: 1em;
    border-bottom: 1px solid #fff;
    margin-bottom: .5em;
}

#footer .icons {
    font-size: 0.5em;
    background-color: transparent;
}

#footer .icons li {
    margin: 0 0.5em;
}

[class^="socicon-"].circled::before,
[class*="socicon-"].circled::before {
    line-height: 2em;
    font-size: 1.5em !important;
}

#footer .icons li a.socicon-facebook {
    background-color: #3b5998;
    color: #fff;
}

#footer .icons li a.socicon-instagram {
    background-color: #f58529;
    color: #fff;
}

#footer .icons li a.socicon-whatsapp {
    background-color: #20B038;
    color: #fff;
}

#navButton,
#navPanel {
    display: none;
}